.heightController {
    height: 250px;
    overflow-y: auto;
}

ul {
    list-style: none;
}

div.search-field{
    margin: 5px 0 5px 40px;
}
div.search-field input{
    width: 320px;
}

/* The main container */

#sticky-list {
    height: 250px;
    overflow: hidden;
    position: relative;
}


/* The main list */

#sticky-list > ul {
    height: 100%;
    overflow: auto;
}


/* Section headers, defined through "headlineSelector" */

#sticky-list > ul > li strong {
    display: block;
    background-color: #fff;
    padding: 5px 10px;
    width: 320px !important;
    border: 1px solid #ccc;
}


/* Section headers when "sticky", defined through "stickyClass" */

#sticky-list > ul > li.sticky strong {
    position: absolute;
    top: 0;
    background-color: #fff
}
