/* Jonathan Dietz */
/* Fonts */

@font-face {
    font-family: 'KnockoutHTF49-Liteweight';
    src: url('knockout-htf49-liteweight-webfont.eot');
    src: local('☺'), url('../fonts/knockout-htf49-liteweight-webfont.woff') format('woff'), url('../fonts/knockout-htf49-liteweight-webfont.ttf') format('truetype'), url('../fonts/knockout-htf49-liteweight-webfont.svg#webfontvEHoer7Y') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KnockoutHTF48-Featherweight';
    src: url('../fonts/knockout-htf48-featherweight-webfont.eot');
    src: local('☺'), url('../fonts/knockout-htf48-featherweight-webfont.woff') format('woff'), url('../fonts/knockout-htf48-featherweight-webfont.ttf') format('truetype'), url('../fonts/knockout-htf48-featherweight-webfont.svg#webfontc4nlxym6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KnockoutHTF29-JuniorLiteweigh';
    src: url('../fonts/knockout-htf29-juniorliteweight-webfont.eot');
    src: local('☺'), url('../fonts/knockout-htf29-juniorliteweight-webfont.woff') format('woff'), url('../fonts/knockout-htf29-juniorliteweight-webfont.ttf') format('truetype'), url('../fonts/knockout-htf29-juniorliteweight-webfont.svg#webfontlU0EtOKV') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*******************************/

body {
    background: url("../img/bg-footer.jpg") no-repeat scroll center bottom transparent;
    font-family: 'open sans';
    ;
    padding-bottom: 275px;
}

a {
    color: #d53535;
    text-decoration: underline;
}

p {
    color: #8F8F8F;
    line-height: 1.5;
    margin: 0 0 15px;
}

.fineprint {
    font-size: 0.7em;
}

#global-wrap {
    min-width: 1024px;
    position:relative;
}

#header {
    background: url("../img/bg-menu-shadow.png") repeat-x scroll center bottom transparent;
    padding: 0 0 13px;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.8s;

}



#header .wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    width: auto;
}

#rsvp {
    background: none repeat scroll 0 0 #FEF041;
    font-family: 'KnockoutHTF29-JuniorLiteweigh';
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    display: none;
}

#rsvp .inside {
    height: 95px;
    margin: 0 0 0 213px;
    overflow: hidden;
    padding: 20px 0 0 166px;
    position: relative;
    text-align: left;
    width: 800px;
}

#rsvp h2 {
    left: 0;
    margin: 0 20px 0 0;
    position: absolute;
}

#rsvp p {
    clear: both;
    color: #D53535;
    line-height: 1;
    margin: 20px 0 0;
}

#rsvp .rsvp-link {
    background: url("../img/btn-x.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 34px;
    position: absolute;
    right: 80px;
    top: 31px;
    width: 34px;
}

#rsvp .another-wrap {
    overflow: hidden;
}

#rsvp .input-wrap {
    display: inline;
    float: left;
    width: 195px;
}

#rsvp label {
    display: inline;
    float: left;
    margin: 0 0 2px;
}

#rsvp input.text {
    height: 31px;
    line-height: 15px;
    padding: 0;
    width: 170px;
}

#rsvp .submit {
    background: url("../img/btn-submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 0;
    margin: 16px 0 0;
    padding-top: 19px;
    width: 56px;
}

#rsvp .close-btn {}

#rsvp .rsvp-received {
    font-size: 30px;
    left: 160px;
    position: absolute;
    top: 39px;
}

#rsvp .error {
    color: #D53535;
    font-style: italic;
    margin: 10px 0 0;
    text-transform: none;
}
/* Navigation */

#menu {
    height: 67px;
    margin: 0 auto;
}

#menu .nav {
    list-style: none outside none;
    margin: 0 auto;
    overflow: hidden;
    width: 795px;
}

#menu .nav li {
    display: inline;
    float: left;
    margin: 22px 52px 0 0;
}

#menu .nav li.last {
    margin: 22px 0 0 0;
}

#menu .nav li a {
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 30px;
}

#menu #nav-logo a {
    background: url("../img/logo_sr.png") no-repeat scroll transparent 0px;
    width: 31px;
}

#menu #nav-our-story a {
    background: url("../img/bg-menu.png") no-repeat scroll -183px -22px transparent;
    width: 57px;
}

#menu #nav-photos a {
    background: url("../img/bg-menu.png") no-repeat scroll -289px -22px transparent;
    width: 42px;
}

#menu #nav-groomsment a {
    background: url("../img/bg-menu.png") no-repeat scroll -380px -22px transparent;
    width: 68px;
}

#menu #nav-bridesmaid a {
    background: url("../img/bg-menu.png") no-repeat scroll -497px -22px transparent;
    width: 70px;
}

#menu #nav-info a {
    background: url("../img/bg-menu.png") no-repeat scroll -611px -22px transparent;
    width: 102px;
}

#menu #nav-gifts a {
    background: url("../img/bg-menu.png") no-repeat scroll -762px -22px transparent;
    width: 29px;
}

#menu #nav-guestbook a {
    background: url("../img/bg-menu.png") no-repeat scroll -761px -22px transparent;
  width: 60px;
}
/* Generic slideshow styles */

.slideshow .jcarousel-prev {
    background: url("../img/icon-arrow-left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    left: -30px;
    position: absolute;
    top: 270px;
    width: 23px;
    z-index: 2;
}

.slideshow .jcarousel-prev:hover {
    opacity: 0.8;
    /* Firefox, Safari and Chrome (WebKit), Opera */
    
    filter: alpha(opacity=80);
    /* IE */
    
    zoom: 1;
    /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
}

.slideshow .jcarousel-next {
    background: url("../img/icon-arrow-right.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    right: -30px;
    position: absolute;
    top: 270px;
    width: 23px;
    z-index: 2;
}

.slideshow .jcarousel-next:hover {
    opacity: 0.8;
    /* Firefox, Safari and Chrome (WebKit), Opera */
    
    filter: alpha(opacity=80);
    /* IE */
    
    zoom: 1;
    /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
}

.slideshow-control {
    list-style: none outside none;
    margin: 0 auto;
    overflow: auto;
    width: 425px;
}

.slideshow-control li {
    background: url("../img/bg-nav-circles.png") no-repeat scroll 0 0 transparent;
    color: #2e2e2e;
    cursor: pointer;
    display: inline;
    float: left;
    font-family: 'KnockoutHTF49-Liteweight';
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

.slideshow-control li:hover,
.slideshow-control li.active {
    background-position: 0 -20px;
    color: #ffffff;
}
/* SECTIONS */

.wrap {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 15px;
    position: relative;
    text-align: center;
    width: 1000px;
}

.section {
    padding: 110px 0 50px;
    position: relative;
    padding-bottom: 0;
}

#section-1 {
    background: url("../img/banner_2.jpg") no-repeat scroll center 67px transparent;
    height: 613px;
    padding-top: 67px;
   /* padding-bottom: 50px;*/
}
#section-3,#section-4,#section-5{background: url("../img/bg-section.png") repeat-x scroll 0 396px transparent;}
#section-1 .wrap {
    padding: 420px 0 22px;
    position: static;
}

.sprite {
    background: url("../img/spr.png") no-repeat;
}

#section-1 .insta {
    background: url("../img/insta_g.png") no-repeat center;
    width: 247px;
    height: 23px;
    display: block;
    margin: 0 auto;
}

#section-1 .rsvp-link {
    background-position: -11px -216px;
    width: 254px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}

#section-1 .rsvp-link:hover {
    background-position: -11px -288px;
}

#section-2 {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0;
}
#section-about{background: none repeat scroll 0 0 transparent;}
/* Photos */

#section-3 {}

#section-3 .slideshow,#section-8 .slideshow{  
    box-shadow: 0 0 21px #eee;    
    height: 570px;
    margin: 10px auto;
    padding: 30px;
    width: 853px;
}
#section-8 .slideshow{
    height: 505px;
}

#section-3 .slideshow li,#section-8 .slideshow li {
    height: 580px;
    list-style: none outside none;
    width: 853px;
}
#section-8 .slideshow li{
    background: transparent url("../img/circleWWH.png") no-repeat 22px 36px;
    height: 505px;
}
/* Groomsmen & Bridesmaids */

#section-4 h2,
#section-5 h2 {
    left: 400px;
    position: absolute;
    top: 0;
}

#section-4 .slideshow,
#section-5 .slideshow {
    height: 475px;
    margin: 0 auto;
    padding: 0 20px 0 10px;
    width: 770px;
}

#section-4 .slideshow li,
#section-5 .slideshow li {
    height: 475px;
    list-style: none outside none;
    position: relative;
    width: 770px;
}


#section-4 .slideshow .jcarousel-prev,
#section-5 .slideshow .jcarousel-prev {
    top: 275px;
}

#section-4 .slideshow .jcarousel-next,
#section-5 .slideshow .jcarousel-next {
    top: 275px;
}

#section-4 .slideshow .photo,
#section-5 .slideshow .photo {
    bottom: 0;
    left: 15px;
    position: absolute;
}

#section-4 .slideshow .person,
#section-5 .slideshow .person {
    background: url("../img/bg-groomsmen.png") no-repeat scroll 0 0 transparent;
    bottom: 7px;
    height: 246px;
    padding: 25px 50px 40px 70px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 428px;
}

#section-4 .slideshow .person .name,
#section-5 .slideshow .person .name {
    color: #555555;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 5px;
}

#section-4 .slideshow .person .title,
#section-5 .slideshow .person .title {
    color: #999999;
    font-size: 18px;
}

#section-4 .slideshow .person .bio,
#section-5 .slideshow .person .bio {
    color: #8F8F8F;
    font-size: 12px;
    line-height: 1.5;
    margin: 30px 0 0;
}
/* Groomsmen */

#section-4 {}

#section-4 .slideshow .item-1 .photo {}

#section-4 .slideshow .item-2 .photo {
    left: 60px;
}

#section-4 .slideshow .item-3 .photo {
    left: 40px;
}

#section-4 .slideshow .item-4 .photo {
    left: 20px;
}

#section-4 .slideshow .item-5 .photo {
    bottom: 110px;
    left: 10px;
}

#section-4 .slideshow .item-6 .photo {
    left: 42px;
}
/* Bridesmaids */

#section-5 {}

#section-5 .slideshow-control li:hover,
#section-5 .slideshow-control li.active {
    background-position: 0 -41px;
    color: #ffffff;
}

#section-5 .slideshow .item-1 .photo {}

#section-5 .slideshow .item-2 .photo {}

#section-5 .slideshow .item-3 .photo {
}

#section-5 .slideshow .item-4 .photo {
}

#section-5 .slideshow .item-5 .photo {

}

#section-5 .slideshow .item-6 .photo {}

#section-5 .slideshow .person {
    background: url("../img/bg-bridesmaids.png") no-repeat scroll 0 0 transparent;
}
/* INFO - When, Where, How */

#section-6 {
    background: none repeat scroll 0 0 transparent;
}

.box1-top {
    background: url("../img/bg-box1-top.png") no-repeat scroll center top transparent;
    margin: 0 auto 15px;
    padding: 135px 0 0;
    position: relative;
    width: 739px;
}

.box1-middle {
    background: url("../img/bg-box1-middle.png") repeat-y scroll center bottom transparent;
    min-height: 50px;
    padding: 15px 80px 5px;
}

.box1-bottom {
    background: url("../img/bg-box1-bottom.png") no-repeat scroll center bottom transparent;
    margin: 0 auto;
    padding: 0 0 86px;
    width: 731px;
}

#section-6 h3 {
    color: #8A0000;
    font-family: Arial;
    font-family: 'KnockoutHTF48-Featherweight';
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    text-transform: uppercase;
    top: 50px;
    width: 579px;
}
/* Gifts */

#section-7 {
    background: none repeat scroll 0 0 transparent;
}

.box2-top {
    background: url("../img/bg-box2-top.png") no-repeat scroll center top transparent;
    margin: 15px auto 0;
    padding: 48px 0 0;
    position: relative;
    width: 731px;
}

.box2-middle {
    background: url("../img/bg-box2-middle.png") repeat-y scroll center bottom transparent;
    min-height: 50px;
    overflow: hidden;
    padding: 0 68px;
    text-align: left;
    width: 595px;
}

.box2-bottom {
    background: url("../img/bg-box2-bottom.png") no-repeat scroll center bottom transparent;
    margin: 0 auto;
    padding: 0 0 114px;
    width: 731px;
}
/*new*/

#section-about {
    padding-bottom: 0
}

.abt-coupl {
    float: left;
    width: 50%;
}

.abt-coupl p {
    text-align: justify;
    font-size: 15px;
    color: #646263;
}

.pad-in {
    padding: 0 46px;
}
/*first look compliments*/

.try {
    position: relative;
}

.try h1 {
    position: absolute;
    padding: 0;
}

.try h1.one {
    top: 0px;
    left:1px;
}

.try h1.one > hr {
    width: 105px;
}

.try h1.two {
    top: 153px;
    left: 1px;
}

.try h1.two > hr {
    width: 130px;
}

.try h1.thr {
    top: 303px;
    left: 1px;
}

.try h1.thr > hr {
    width: 190px;
}

.try h1.four {
    top: 602px;
    left: 1px;
}

.try h1.four > hr {
    width: 155px;
}

.try h1.fiv {
    top: 0px;
    right: 1px;
}

.try h1.fiv > hr {
    width: 108px;
}

.try h1.six {
    top: 146px;
    right: 2px;
}

.try h1.six > hr {
    width: 126px;
}

.try h1.sev {
    top: 297px;
    right: 20px;
}

.try h1.sev > hr {
    width: 185px;
}

.try h1.et {
    top: 601px;
    right: 2px;
}

.try h1.et > hr {
    width: 159px;
}

.try h1.initial-r > hr {
    border-top: 1px solid #000;
    margin-left: 49px;
}

.try h1.initial-s > hr {
    border-top: 1px solid #000;
    margin-right: 44px;
}

.initial-r {
    background-position: -4px -369px;
}
.r-img{background: url("../img/r-img.png") no-repeat left;}

.initial-s {
    background: url("../img/s_right.png") no-repeat right;
}

.firstlook {
    position: absolute;
    width: 144px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    color: #646263;
}

.fst-posi {
    top: 31px;
    left: 4px;
}

.secn-posi {
    top: 184px;
    left: 5px;
}

.thd-posi {
    top: 333px;
    left: 21px;
    width:206px;
}

.frth-posi {
    top: 633px;
    left: 6px;
     width:180px;
}

.fiv-posi {
    top: 33px;
    right: 2px;

}

.six-posi {
    top: 177px;
    right: 4px;
}

.sev-posi {
    top: 331px;
    right: 21px;
    width:206px;
}

.eigt-posi {
    top: 635px;
    right: 4px;
    width:180px;
}

.txt-rt {
    text-align: right;
}

.cent-marg {
    margin-right: 47px;
}

.centr-marg1 {
    margin-right: 15px;
}

.m-btm {
    margin-bottom: 358px;
}

textarea {
    height: 31px;
    line-height: 15px;
    padding: 0;
}

.center-align {
    text-align: center
}
#section-guestbook{background: none repeat scroll 0 0 transparent;}
#section-guestbook ul {
    box-shadow: 0px 0px 20px #eee;
    padding: 10px 75px;
    margin: 10px 75px;
    list-style: none;
}

#section-guestbook ul li {
    padding: 20px 0;
}
#section-guestbook ul li .name{
  font-size: 20px;
  color: #333031;
  font-weight: bold;
  margin-bottom: 2px;
}

#section-guestbook ul li .location {
    font-size: 14px;
    color: #333031;
    font-weight: 300;
}

#section-guestbook ul .comment-hdr {
    margin: 5px 0;
}

#section-guestbook ul .comment-hdr .date {
    font-style: italic;
    color: #2c76cb;
}
#section-guestbook ul .comment-body{
  font-size: 15px;
  color: #333031;
  font-weight: normal;
  margin: 15px 0;
}

.clear {
    clear: both;
}

.float-right {
    float: right;
}

#guestbook-container {
    display: none;
}

.required {
    color: red;
}

#sign_up {
    -moz-border-radius: 0px;
    background: #fff;
    -webkit-border-radius: 0px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
    -moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
    padding: 14px 22px;
    width: 400px;
    position: relative;
    display: none;
}

#sign_up .header {
    font-size: 22px;
    margin: 10px 0;
}
#sign_up .notes{
      font-size: 13px;
}

#sign_up #sign_up_form {
    margin-top: 13px;
}

#sign_up label {
    display: block;
    margin-bottom: 20px;
    color: #536376;
    font-size: .9em;
}

#sign_up label input {
    display: block;
    width: 393px;
    height: 31px;
    background-position: -201px 0;
    padding: 2px 0;
    font-size: 1.2em;
    line-height: 31px;
}

#sign_up label textarea {
    display: block;
    width: 393px;
    height: 62px;
    padding: 2px 0;
    font-size: 1.2em;
    line-height: 31px;
}

#see_id {
    width: 228px;
    height: 23px;
    background-position: -202px -133px;
}

#left_out {
    background-position: -202px -158px;
    width: 113px;
    height: 16px;
}

#sign_up_form {
    position: relative;
    background: url(divider.png) repeat-x bottom left;
    padding-bottom: 54px;
    margin-bottom: 12px;
}

#actions {
    
    float: left;
    position: absolute;
    right: 5px;
    bottom: 12px;
}

a.form_button {
    float: left;
    width: 93px;
    height: 31px;
    margin-right: 15px;
}

#cancel {
    background-position: -198px -36px;
}

#log_in {
    background-position: -291px -36px;
}

#cancel:hover {
    background-position: -198px -67px;
}

#cancel:active {
    background-position: -198px -98px;
}

#log_in:hover {
    background-position: -291px -67px;
}

#log_in:active {
    background-position: -291px -98px;
}

#close_x {
    width: 26px;
    height: 26px;
    overflow: hidden;
    line-height: 1000px;
    display: block;
    position: absolute;
    top: -13px;
    right: -8px;
    background: url(../img/close_icn.png);
}

#usage {
    background-position: -323px -172px;
    width: 67px;
    height: 22px;
}

#submit-guestbook{
    background: url(../img/submit.png) no-repeat;
    border: none;
    width: 111px;
    height: 41px;
    outline: none;
    cursor: pointer;
}
#submit-guestbook:hover{
    background: url(../img/submit.png) no-repeat;
    background-position: 0px -45px;
}

#section-8 li{
   position: relative;
}
#section-8 li.whr_dtail > .where-details,li.how_dtail > .how-details{
    position: absolute;
    top: 60px;
    right: 50px;
    text-align: center;
    border-radius: 50%;
    width: 385px;
    height: 385px;
    
}
#section-8 li.whr_dtail > .where-details h3,li.how_dtail > .how-details h3{
    margin-top: 155px;
}
#section-8 li.whr_dtail > .where-details p,li.how_dtail > .how-details p{
    font-size: 14px;
    margin-top: 10px;
}
#section-3 .jcarousel-item img{
    width:100%;
}
@media (max-width: 320px){
     #menu .nav li {
    margin: 14px 21px 0 0;
    }
    #menu .nav li#nav-info,#menu .nav li#nav-guestbook,#menu .nav li#nav-bridesmaid{ margin: 1px 21px 0 0;}
    .wrap{padding: 0 9px 15px;
    }
    #menu .nav {
        overflow: initial;
        width: auto;
    }
}
@media (min-width: 321px) and (max-width: 360px){
     #menu .nav li {
    margin: 14px 24px 0 0;
    }
    #menu .nav li#nav-info,#menu .nav li#nav-guestbook,#menu .nav li#nav-bridesmaid{ margin: 1px 24px 0 0;}
    .wrap{padding: 0 8px 15px;
    }
    #menu .nav {
        overflow: initial;
        width: auto;
    }

}

@media (min-width: 361px) and (max-width: 640px) {
 /*Iphone portrait and smaller*/
        #menu .nav li {
            margin: 21px 25px 0 0;
        }
        .wrap{padding: 0 10px 15px;}
    #menu .nav {
        overflow: initial;
        width: auto;
    }
}

