<!DOCTYPE html>
<html>

<head>
    <title>Location - Dataset Selector</title>
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.stickysectionheaders.js"></script>
    <script type="text/javascript" src="js/globalCtrl.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body data-ng-app="mainCtrl">
    <div class="container" data-ng-controller="iglobalCtrl">
        <div class="row">
            <div class="col-md-4">
                <h3>Select State/Locations</h3>
                <div class="search-field">
                    <input ng-model="query" type="text" placeholder="Search" autofocus />
                </div>
                <div id="sticky-list">
                    <ul class="heightController">
                        <li data-ng-repeat="state in states">
                            <strong ng-show="(state.locations | filter:query).length >0">
                                <input type="checkbox" ng-click="selectAllLocations(state)" ng-model="state.isChecked" />{{state.name}}
                            </strong>
                            <ul class="location-list">
                                <li data-ng-repeat="location in state.locations | filter :query">
                                    <div>
                                        <input type="checkbox" ng-model="location.isChecked" />{{location.name}}</div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Charts</h3>
                <p>Here Charts will come</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <h3>Select DataSets</h3>
                <ul class="heightController">
                    <li data-ng-repeat="dataset in datasetData">
                        <input type="checkbox" ng-model="dataset.isChecked" />{{dataset.name}}
                        <ul >
                            <li data-ng-repeat="child1 in dataset.children ">                                
                                <input type="checkbox" ng-model="child1.isChecked" />{{child1.name}} 
                                <ul >
                                    <li data-ng-repeat="child2 in child1.children ">
                                        <input type="checkbox" ng-model="child2.isChecked" />{{child2.name}}
                                        <ul >
                                            <li data-ng-repeat="child3 in child2.children ">
                                                <input type="checkbox" ng-model="child3.isChecked" />{{child3.name}}                                                 
                                            </li>
                                        </ul>                                         
                                    </li>
                                </ul>                                
                            </li>
                        </ul>                        
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <h3>Selected Locations</h3>
                    <div class="heightController">
                        <div data-ng-repeat="state in states">
                            <strong ng-show="(state.locations | filter:{ isChecked: true }).length >0">
                                {{state.name}} 
                                <span>({{(state.locations | filter:{ isChecked: true }).length}})</span>
                            </strong>
                            <ul class="location-list">
                                <li data-ng-repeat="location in state.locations | filter:{ isChecked: true }">
                                    <div>{{location.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Selected DataSets </h3>
                    <ul class="heightController">
                        <li data-ng-repeat="dataset in datasetData">
                            <strong ng-show="(dataset.children | filter:{ isChecked: true }).length >0 || dataset.isChecked">{{dataset.name}}</strong>
                            <ul >
                                <li data-ng-repeat="child1 in dataset.children | filter:{ isChecked: true }">                                
                                    <strong ng-show="(child1.children | filter:{ isChecked: true }).length >0 || child1.isChecked">{{child1.name}} </strong>
                                    <ul >
                                        <li data-ng-repeat="child2 in child1.children | filter:{ isChecked: true }">
                                            <strong ng-show="(child2.children | filter:{ isChecked: true }).length >0 || child2.isChecked"> {{child2.name}}</strong>
                                            <ul >
                                                <li data-ng-repeat="child3 in child2.children | filter:{ isChecked: true }">
                                                    <strong ng-show="(child3.children | filter:{ isChecked: true }).length >0 || child3.isChecked">{{child3.name}}</strong>
                                                </li>
                                            </ul>                                         
                                        </li>
                                    </ul>                                
                                </li>
                            </ul>                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
